.about__container{
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 480px){
  .about__container{
    flex-direction: column;
    margin-top: 20px;
  } 
}